.ticket {
    width: 500px;
    height: 185px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: auto;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.ticket__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
}

.ticket__segment {
    display: flex;
    width: 100%;
}

.ticket__block p {
    width: 140px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.ticket__segment:nth-last-child() p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #4a4a4a;
}

img {
    margin-right: 50px;
    width: 110px;
    height: 36px;
}

.grey {
    color: #A0B0B9;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase !important;
}

.price {
    color: #2196F3;
    font-size: 24px;
    line-height: 24px;
}



@media (max-width: 768px) {
    .ticket {
        width: 450px;
        height: 250px;
        margin-left: 40px;
    }

    .ticket__block {
        margin: 10px 10px 0 10px;
        flex-wrap: wrap;
    }

    .ticket__block:first-child {
        flex-wrap: nowrap;
    }

    img {
        margin-right: 20px;
        width: 110px;
        height: 36px;
    }
    .ticket__block p {
        padding-top: 3px;
    }
    .ticket__segment p {
        margin-right: 5px;
        width: 60px;
    }

    .ticket__segment p:last-child {
        width: 100px;
    }
}

@media (max-width: 500px) {
    .ticket {
        width: 280px;
        height: 250px;
        margin-left: 40px;
    }
}